.profile-image{
    width: 60px;
    height: 60px;
    -webkit-border-radius: 60px;
    -webkit-background-clip: padding-box;
    -moz-border-radius: 60px;
    -moz-background-clip: padding;
    border-radius: 60px;
    background-clip: padding-box;
    float: left;
    background-size: cover;
    background-position: center center;
}

.status-dot {
    display: inline-block;
    border-radius: 50%;
    width: 50%;
    background-color: #EEE;
    height: 10px;
    width: 10px;
}

.status-dot-success {
    background-color: #449D44;
}

.status-dot-warning {
    background-color: #F0AD4E;
}

.status-dot-danger {
    background-color: #D9534F;
}
